body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.inner {
    padding-left: 15px;
    padding-right: 15px;
    width: 79%;
    max-width: 1142px;
    margin-left: auto;
    margin-right: auto;
}

.menu-btn {
    display: none;
    height: 20px;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 9px;
    min-width: 20px;
    margin-right: 0;
    margin-left: auto;
    vertical-align: middle;
    background-color: transparent;
    background-image: url("images/menu-button.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 0;
}

.menu-btn:hover, .menu-btn:focus {
    outline: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 56px;
    margin-left: -5px;
}

nav .logo {
    width: 281px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 44%;
    margin-right: 3px;
}

nav ul li {
    font-size: 16px;
    font-weight: 400;
    color: #58595b;
    margin-top: 35px;
    cursor: pointer;
    user-select: none;
}

nav ul li:active {
    color: #103a86;
}

.section-one {
    margin-top: 62px;
}

.section-one .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-one .inner .left-side {
    width: 45%;
    margin-top: 91px;
}

.section-one .inner .left-side h3 {
    color: #103a86;
    font-family: "PT Sans", serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 49px;
}

.section-one .inner .left-side p {
    font-weight: 400;
    font-size: 17px;
    color: #58595b;
    line-height: 1.4;
    margin-bottom: 53px;
    padding-left: 4px;
    text-align: left;
}

.button {
    background: linear-gradient(to right, #faaf41, #fdeed2);
    border-radius: 50px;
    color: #faaf41;
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    text-decoration: none;
    width: 249px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.button:hover {
    color: #FFFFFF;
    background-image: linear-gradient(to right, #faaf41, #fdeed2);
}

.button span {
    background: #fff;
    display: block;
    padding-top: 29px;
    padding-bottom: 29px;
    border-radius: 50px;
}

.button span:hover {
    background-image: linear-gradient(to right, #faaf41, #fdeed2);
}

.container {
    text-align: left;
    margin-top: 29px;
}

.container-3 {
    text-align: right;
    margin-bottom: 93px;
}

.section-one {
    position: relative;
}

.section-one .top-bubbles {
    position: absolute;
    max-width: 810px;
    width: 56%;
    z-index: -1;
    left: 43%;
    top: -87px;
}

.section-one .inner .right-side {
    width: 41%;
    margin-right: 50px;
}

.section-one .inner .right-side img {
    width: 100%;
    max-width: 466px;
}

.section-two {
    margin-top: 207px;
    position: relative;
}

.section-two .middle-bubble-left {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 44px;
    width: 45%;
    max-width: 650%;
}

.section-two .middle-bubble-right {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 98px;
    width: 13%;
    max-width: 192px;
}

.section-two h5 {
    text-align: center;
    font-family: "PT Sans", serif;
    font-size: 49px;
    font-weight: bold;
    color: #103a86;
    margin-bottom: 40px;
}

.section-two .both-sides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-two .both-sides .left-side {
    width: 51%;
    margin-left: -102px;
}

.section-two .both-sides .right-side {
    width: 48%;
    padding-top: 50px;
}

.section-two .both-sides .right-side form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-two .both-sides .right-side form input {
    padding-bottom: 5px;
    padding-top: 35px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    outline: none;
    background-color: transparent;
}

.border {
    margin-top: 0;
}

.border:last-of-type {
    margin-bottom: 26px;
}

.dark {
    background-color: #f9bc4a;
    display: inline-table;
    height: 1px;
    width: 21%;
    left: 0;
    background-repeat: repeat-x;
    position: absolute;
}

.light {
    background-color: #fdeed2;
    display: inline-table;
    width: 80%;
    right: 0;
    height: 1px;
    background-repeat: repeat-x;
    position: absolute;
}

.section-two .both-sides .right-side form input:first-of-type {
    padding-top: 0;
}

.section-two .both-sides .right-side .nominuok {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.radio-button {
    display: none;
}

.radio-button + label {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #3e3e3e;
}

.radio-button + label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #f9bc4a;
    border-bottom-color: #fdeed2;
    transform: rotate(-45deg);
    height: 39px;
    width: 39px;
    cursor: pointer;
}

.radio-button:checked + label:after {
    position: absolute;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    top: 13px;
    left: 13px;
    border-radius: 50%;
    border: 1px solid #f9bc4a;
    height: 13px;
    width: 13px;
    background-color: #f9bc4a;
    cursor: pointer;
}

.section-three {
    margin-top: 172px;
}

.section-three h4 {
    text-align: center;
    font-size: 45px;
    font-family: "PT Sans", serif;
    font-weight: bold;
    color: #103a86;
    margin-bottom: 99px;
}

.section-three button {
    margin-bottom: 203px;
}

.nominees-row:before {
    content: '';
    display: table;
}

.nominees-row:after {
    content: '';
    clear: both;
    display: table;
}

.nominees-row {
    margin-right: -15px;
    margin-left: -15px;
}

.nominees-row .nominees-col {
    width: 33.333333%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.nominees-row .nominees-col:nth-child(2n) .item {
    background-color: #103a86;
}

.nominees-row .nominees-col .item {
    width: 100%;
    background-color: #2b87ae;
    margin-bottom: 31px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 93px;
    padding-bottom: 48px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    min-height: 1px;
}

.nominees-row .nominees-col .item .votes {
    text-align: right;
    color: #fdbf03;
    font-size: 18px;
    font-weight: bold;
}

.nominees-row .nominees-col .item .votes img {
    vertical-align: middle;
}

.nominees-row .nominees-col .item .quotes {
    position: absolute;
    top: -25px;
    left: 32px;
}

.nominees-row .nominees-col .item h1 {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    line-height: 1.4;
}

.nominees-row .nominees-col .item .p1 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 55px;
}

.nominees-row .nominees-col .item .p2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
}

footer {
    padding-left: 100px;
    background: transparent;
    background-image: url('images/bottom_right.png'), url("images/footer_bubble.png");
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-size: 232px 100%, 855px 100%;
    padding-top: 109px;
    padding-bottom: 117px;
}

/*----------------------------------------------------------------------------------------------------*/
/*medias----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
@media (max-width: 1280px) {
    .section-two .inner .right-side .nominuok {
        display: flex;
        flex-direction: column;
    }

    .section-two .inner .right-side .nominuok .container-2 {
        margin-top: 20px;
    }
}

@media (max-width: 1024px) {
    nav {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    nav div {
        margin-left: auto;
        margin-right: auto;
    }

    nav ul {
        width: 100%;
        margin-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .section-one .top-bubbles {
        width: 50%;
        left: 40%;
        top: -40px;
    }

    .section-one .inner .left-side {
        width: 40%;
    }

    .section-one .inner .left-side h3 {
        font-size: 30px;
    }

    .section-one .inner .right-side {
        width: 38%;
    }

    .section-two {
        margin-top: 100px;
    }

    .section-three {
        margin-top: 125px;
    }

}

@media (max-width: 950px) {

    footer {
        padding-bottom: 80px;
    }

}

@media (max-width: 911px) {
    .section-one .inner {
        display: flex;
        flex-direction: column;
    }

    .section-one .inner .left-side {
        width: 100%;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .section-one .inner .left-side h3 {
        text-align: center;
    }

    .section-one .inner .left-side p {
        text-align: justify;
    }

    .section-one .inner .left-side .container {
        text-align: center;
        margin-bottom: 50px;
    }

    .section-one .inner .right-side {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .section-one .inner .right-side img {
        width: 100%;
        max-width: 800px;
    }

    .section-one .top-bubbles {
        display: none;
    }

    .section-two .inner .both-sides {
        display: flex;
        flex-direction: column;
    }

    .section-two .inner .both-sides .left-side {
        display: none;
    }

    .section-two .inner .both-sides .right-side {
        width: 100%;
    }

    .section-two .middle-bubble-left {
        top: 50px;
        width: 60%;
    }

    .section-two .middle-bubble-right {
        top: 320px;
        width: 30%;
    }

    .section-three {
        margin-top: 100px;
    }

    .section-three .inner h4 {
        font-size: 40px;
    }

    .section-three .inner .container-3 {
        text-align: center;
    }

}

@media (max-width: 810px) {
    footer {
        padding-bottom: 50px;
    }

}

@media (max-width: 712px) {
    footer {
        background-image: url("images/footer_bubble.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 855px 100%;
        padding-right: 20px;
    }

}

@media (max-width: 667px) {
    body.no-scroll {
        overflow-y: hidden;
    }

    .overlay-menu .nav-list {
        width: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .menu-btn {
        display: block;
    }

    .overlay-menu.show .menu-btn {
        position: fixed;
        right: 30px;
        top: 35px;
        z-index: 2;
    }

    .overlay-menu.show .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
        z-index: 1;
    }

    .overlay-menu.show .menu-btn {
        background-image: url("images/close.svg");
    }

    nav {
        margin-top: 36px;
    }

    nav div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    nav .logo {
        margin-left: 0;
        margin-right: auto;
        width: 100%;
        max-width: 150px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-top: 25px;
        font-size: 35px;
        color: #fdbf03;
    }

    nav ul li:active {
        color: #103a86;
    }

    .section-two .middle-bubble-left {
        top: 80px;
    }

    .section-two .middle-bubble-right {
        top: 300px;
    }

}

@media (max-width: 490px) {
    footer {
        padding-bottom: 35px;
    }

}

@media (max-width: 338px) {
    footer {
        padding-bottom: 20px;
    }

    .radio-button + label {
        font-size: 14px;
    }

}







